package-lock=true
audit=false
fund=false
progress=false
engine-strict=false
save-exact=false
registry=https://registry.npmjs.org/
fetch-retries=2
fetch-timeout=60000
fetch-retry-mintimeout=5000
fetch-retry-maxtimeout=30000
prefer-offline=false
